asgiref==3.4.1
click==8.0.1
dnspython==1.16.0
fastapi==0.68.1
h11==0.12.0
importlib-metadata==4.8.1
Jinja2==3.0.1
pydantic==1.8.2
pymongo[srv]
pytest==6.2.5
requests==2.26.0
starlette==0.14.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
zipp==3.5.0
